@model IEnumerable<Final_ASP_04_back.Models.EFModels.RoomType>

@{
    ViewBag.Title = "維護房型";
}

<h1>維護房型</h1>

<p>
    @Html.ActionLink("建立新房型", "Create", null, new { @class = "RoomTypeCreateBtn" })
</p>

<table class="table table-striped table-bordered" style="border: 5px solid #B3D9D9;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>


        </tr>
    }

</table>

@section css{
    <style>
        .RoomTypeCreateBtn {
            text-align: center;
            width: 100%;
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: lightskyblue;
            color: #ffffff;
            border: none;
            text-decoration: none;
            border-radius: 10px
        }

        h1 {
            text-align: center;
            color: #587D87;
        }
    </style>
}
