<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 住宿趣</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" />    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    <!-- 導覽列 -->
    <div>
        <nav class="navbar navbar-expand-md fixed-top" style="background-color: rgb(167, 192, 199); white-space:nowrap">
            <div class="container">
                <img src="/images/icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                @Html.ActionLink("住宿趣", "ChooseBranch", "Branches", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            @Html.ActionLink("首頁", "ChooseBranch", "Branches", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                分店一覽
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @{
                                    foreach (var branch in new Final_ASP_04.Models.Services.BranchService().GetAllBranches())
                                    {
                                        <li><a class="dropdown-item" href="/Branches/BranchMain?branchId=@branch.Id">@branch.Name</a></li>
                                    }
                                 }                                    
                                </ul>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("房型一覽", "ListRoomTypes", "Branches", new { area = "",selectedBranchId = ViewBag.BranchId }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("FAQ", "FAQs", "Branches", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("關於我們", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("聯絡我們", "Mail", "Branches", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item float-end">@Html.ActionLink("會員中心", "MemberProfile", "Members", new { area = "" }, new { @class = "nav-link bi bi-person-circle" })</li>
                                <li class="nav-item float-end">@Html.ActionLink("登出", "Logout", "Members", new { area = "" }, new { @class = "nav-link bi bi-box-arrow-right" })</li>

                            }
                            else
                            {
                                <li class="nav-item float-end">@Html.ActionLink("會員登入", "Login", "Members", new { area = "" }, new { @class = "nav-link bi bi-person-up" })</li>
                                <li class="nav-item float-end">@Html.ActionLink("註冊新會員", "Register", "Members", new { area = "" }, new { @class = "nav-link bi bi-person-add" })</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer style="background-color:white" class="text-center">
        <p>&copy; @DateTime.Now.Year - 住宿趣</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("js", required: false)
</body>
</html>
