@model Final_ASP_04.Models.ViewModels.RoomTypeVm
@using Final_ASP_04.Models.ViewModels;
@{
    ViewBag.Title = "房間資訊";
    var otherRoomTypes = ViewBag.OtherRoomTypes as List<RoomTypeVm>;
    var selectedBranchId = ViewBag.selectedBranchId;
    var selectedRoomTypeId = ViewBag.selectedRoomTypeId;
    var roomTypePictures = ViewBag.RoomTypePictures;
    var allComments = ViewBag.AllComments as List<CommentListVm>;

    var fiveStarCount = allComments.Where(x => x.Rank == 5).Count();
    var fourStarCount = allComments.Where(x => x.Rank == 4).Count();
    var threeStarCount = allComments.Where(x => x.Rank == 3).Count();
    var twoStarCount = allComments.Where(x => x.Rank == 2).Count();
    var oneStarCount = allComments.Where(x => x.Rank == 1).Count();

    var averageRank = Math.Round(allComments.Average(x => x.Rank),1 ,MidpointRounding.AwayFromZero);
    var totalCommentCount = allComments.Count();
}
<!-- 標題 -->
<div class="container-fluid has-background-image" style="margin-top:51px;">
    <h1 class="pageTitle">房間資訊</h1>
</div>
<!-- 麵包屑 -->
<div class="container">
    <div class="mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首頁</a></li>
                <li class="breadcrumb-item"><a href="/Branches/ListRoomTypes?selectedBranchId=@selectedBranchId">房型一覽</a></li>
                <li class="breadcrumb-item active"><a>房間資訊</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- 房間資訊 -->
<div>
    <div class="container">
        <div class="row">
            <h1 class="fw-bolder">
                @Html.DisplayFor(model => model.RoomTypeName)
            </h1>
        </div>
        <div class="row product-info">
            <div class="col-lg-4">
                <div class="left">
                    <img src="/images/@Html.DisplayFor(model => model.FileName)" width="100%" class="productPhoto" alt="">
                    <div class="images">
                        <ul>
                            <li><img src="/images/@Model.FileName" alt=""></li>
                            <li><img src="/images/@roomTypePictures[0].FileName" alt=""></li>
                            <li><img src="/images/@roomTypePictures[1].FileName" alt=""></li>
                            <li><img src="/images/@roomTypePictures[2].FileName" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="right">
                    <h3>房間資訊</h3>
                    <p>
                        @Html.DisplayFor(model => model.RoomTypeDescription)
                    </p>
                    <h3>房內設備</h3>
                    <ul>
                        <li>免費無線WIFI</li>
                        <li>礦泉水 / UCC咖啡 / 塔爾登茶包</li>
                        <li>免治馬桶</li>
                        <li>高畫質液晶電視</li>
                    </ul>
                    <div>
                        <p class="fw-bolder" style="font-size: large;">
                            最低NT$@(Model.BestPrice)起
                            &nbsp;&nbsp;@using (Html.BeginForm("SearchRoom", "Rooms", FormMethod.Get))
                            {
                                @Html.Hidden("startDateTime", DateTime.Now.ToString("yyyy-MM-dd"))
                                @Html.Hidden("endDateTime", DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"))
                                @Html.Hidden("branchId", Model.BranchId)
                                @Html.Hidden("roomTypeId", Model.Id)
                                @Html.Hidden("guestNumberId", 0)

                                <button type="submit" class="btn btn-primary">前往預約</button>
                            }
                            @*@Html.ActionLink("前往預約", "SearchRoom","Rooms",new { startDateTime = DateTime.Now.ToString("yyyy-MM-dd"), endDateTime = @DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"), branchId = selectedBranchId, roomTypeId = selectedRoomTypeId, guestNumberId = 0 },new {@class="btn btn-primary"})*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 評論 -->
        <div class="row">
            <h3 class="fw-bolder mb-2">本館評價</h3>
            <div class="col-lg-8 ps-4">
                <div class="d-flex flex-column">
                    <div class="row" style="display: flex; justify-content:flex-start">
                        <div class="col-lg-6 col-sm-12" style="max-width:350px">
                            <canvas id="myChart"></canvas>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12 text-start ps-3">
                            <h4>平均：@(averageRank)分</h4>
                            <h5>評價總數：@(totalCommentCount)筆評價</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" style="font-size: 18px" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    查看全部
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">本館全部評價</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @Html.Action("ListAllComments", "Comments", new { vms = allComments })
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    @{
                        Html.RenderAction("ListComments", "Comments", new { branchId = selectedBranchId });
                    }
                </div>
            </div>
        </div>
        <!-- 其他房間 -->
        <div class="row mt-4">
            <h3 class="fw-bolder">其他房間資訊</h3>
            <table class="table otherProducts">
                @Html.Partial("_ListOtherRoomTypePartial", otherRoomTypes)
            </table>
        </div>
    </div>
</div>

@section css{
    <style>
        .has-background-image {
            background-image: url(/images/TitleImg.jpg);
            height: 200px;
        }

        @@media screen and (min-width: 1200px) {
            .body-content {
                padding: 5px;
                margin: 0px;
                max-width: none;
            }
        }

        .pageTitle {
            box-sizing: border-box;
            color: black;
            font-size: 50px;
            font-weight: bold;
            padding-top: 60px;
            padding-left: 15%;
        }

        h3 {
            background-color: rgb(226, 252, 252);
        }

        .otherProduct {
            max-width: 250px;
            height: 100%;
            object-fit: cover;
        }

        @@media (max-width: 575px) {
            .otherProduct {
                max-width: 180px;
                height: 100%;
                object-fit: cover;
            }
        }

        .otherProducts h6 {
            font-weight: 700;
            color: #333;
            margin-bottom: 15px;
            font-size: 1.3rem;
        }

        .breadcrumb {
            background-color: transparent;
            font-size: 18px;
        }

        .product-info { /*內含left , right 二個div*/
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            /* border: 1px solid #ccc; */
        }

            .product-info .left {
                height: 450px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                /* border: 1px solid #ccc; */
            }

            .product-info .right {
                padding-top: 20px;
            }

        .productPhoto {
            padding-bottom: 25px;
            object-fit: cover; /*contain 符合指定的寬高比例*/
            height: 320px;
        }

        .product-info .images {
            width: 100%;
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            overflow-y: hidden;
            overflow-x: auto;
            border: 1px solid #ccc;
        }

        .product-info li img {
            width: 65px;
            margin-left: 2px;
        }

        .product-info .images ul {
            list-style: none; /* 不顯示項目符號 */
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 1px solid #ccc;
        }
    </style>
}

@section js {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(function () {

            // 切換房間圖片
            $('.product-info ul li img').click(function () {
                let imgSrc = $(this).attr('src');
                $('.productPhoto').attr('src', imgSrc);
            })

            //評價長條圖
            const ctx = $("#myChart");

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['5分', '4分', '3分', '2分', '1分'],
                    datasets: [{
                        label: '評價數量',
                        data: [@fiveStarCount, @fourStarCount, @threeStarCount, @twoStarCount, @oneStarCount],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        y: {                          
                            beginAtZero: true,
                                ticks: {
                                stepSize: 1
                            }
                        }
                    }
                }
            })
        });                  
    </script>
}

