@model Final_ASP_04.Models.ViewModels.ChangePasswordVm

@{
    ViewBag.Title = "ChangePassword";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>修改密碼</h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group list-group-flush">
                <a href="/Members/MemberProfile/" class="list-group-item list-group-item-action" aria-current="true">
                    會員資料
                </a>
                <a href="/Members/EditProfile/" class="list-group-item list-group-item-action">修改會員資料</a>
                <a href="/Members/ChangePassword/" class="list-group-item list-group-item-action active">修改密碼</a>
                <a href="/Orders/Edit/" class="list-group-item list-group-item-action">我的訂單</a>
                <a href="/Orders/Edit/" class="list-group-item list-group-item-action d-none"></a>
            </div>
        </div>

        <div class="form-horizontal col-8">
            @*<h4>ChangePasswordVm</h4>*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="mb-4">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="">
                <div class="text-end">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section css{
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .body-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-top: 100px;
        }

        .form-horizontal {
            width: 60vh;
            display: flex;
            flex-direction: column;
        }

        @@media (max-width: 768px) {
            .list-group {
                display: flex;
                flex-direction: row;
            }

                .list-group a {
                    text-align: left; /* 将链接文本左对齐 */
                    margin-right: 10px;
                }

            .form-horizontal {
                margin-top: 20px;
                width: 100%;
            }
        }
    </style>
}