@model Final_ASP_04.Models.ViewModels.LoginVm

@{
    ViewBag.Title = "登入";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid" id="main">
        <div class="row" style="display:flex;">
            <div class="col-md-6 d-md-flex d-none" id="LoginBlock" style="align-items: center; justify-content: center; flex-direction: column;">
                <img src="~/img/hotelicon.png" alt="..." style="width:30%;height:40%;object-fit:fill" />
                <h2>住宿趣</h2>
            </div>

            <div class="form-horizontal col-md-6 col-12">
                <h2 class="col-md-10">登入</h2>
                <hr class="col-md-10" />
                <div class="mb-3 mt-3 row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-10 col-12">
                        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control d-inline" } })
                        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-md-10 col-12">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control d-inline" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-md-10 col-12">
                        <div class="checkbox d-inline">
                            @Html.EditorFor(model => model.remeberMe)
                            @Html.ValidationMessageFor(model => model.remeberMe, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.remeberMe, htmlAttributes: new { @class = "form-label d-inline" })
                        @Html.ActionLink("忘記密碼?", "ForgetPassword", null, new { @class = "btn" }, new { @style = "float:right;" })
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-md-10 col-12 text-end">
                        <input type="submit" value="登入" class="btn btn-primary" />
                        @*@Html.ActionLink("回首頁", "Index", null, new {@class = "btn btn-success"})*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section css{
    <style>
        /*        @@media(max-width:768px) {
            .row {
                justify-content: center;
            }
        }*/

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .body-content {
            display: flex;
            align-items: center; /* 垂直居中 */
            justify-content: center; /* 水平居中 */
            flex: 1;
        }

        body {
            background-image: url("/img/bedroom-8004697_1920blur.png"); /* 替换为你的图片路径 */
            background-size: cover;
            background-position: center center; /* 图片居中对齐 */
            background-attachment: fixed; /* 固定背景，以防滚动 */
        }

        #LoginBlock {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @@media (max-width: 768px) {
            .vanish {
                display: none; /* 在小屏幕上隐藏元素 */
            }

            .form-horizontal {
                padding: 30px;
            }
        }

        @@media (min-width: 768px) {
            .container-fluid[id="main"] {
                width: 90vh;
                height: 50vh;
                background-color: white;
                flex-direction: column;
                display: flex;
                align-items: center; /* 垂直居中 */
                justify-content: center; /* 水平居中 */
                border-radius: 20px;
                flex: 1;
                box-shadow: 1px 1px 15px #b7b7b7;
            }
        }

        .container-fluid[id="main"] {
            background-color: white;
            flex-direction: column;
            display: flex;
            align-items: center; /* 垂直居中 */
            justify-content: center; /* 水平居中 */
            border-radius: 20px;
            flex: 1;
        }
    </style>
}