@model Final_ASP_04.Models.ViewModels.EditProfileVm

@{
    ViewBag.Title = "會員中心";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>會員資料</h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group list-group-flush">
                <a href="/Members/MemberProfile/" class="list-group-item list-group-item-action active" aria-current="true">
                    會員資料
                </a>
                <a href="/Members/EditProfile/" class="list-group-item list-group-item-action">修改會員資料</a>
                <a href="/Members/ChangePassword/" class="list-group-item list-group-item-action">修改密碼</a>
                <a href="/Orders/Edit/" class="list-group-item list-group-item-action">我的訂單</a>
                <a href="..." class="list-group-item list-group-item-action d-none"></a>
            </div>
        </div>


        <div class="form-horizontal col-md-9">
            <div class="row">
                @Html.HiddenFor(model => model.Id)
                <div class="mb-3">
                    @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "form-label col-md-2" }) :
                    @Html.DisplayFor(model => model.Account, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" }) :
                    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-label col-md-2" }) :
                    @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label col-md-2" }) :
                    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", style = "pointer-events: none;" } })
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section css{
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        .body-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-top: 100px;
        }

        .form-horizontal {
            width: 60vh;
            display: flex;
            flex-direction: column;
        }

        .form-label {
            text-align-last: end;
        }

        @@media (max-width: 768px) {
            .list-group {
                display: flex;
                flex-direction: row;
            }

                .list-group a {
                    text-align: left; /* 将链接文本左对齐 */
                    margin-right: 10px;
                }

            .form-horizontal {
                margin-top: 20px;
                width: 100%;
            }
        }
    </style>
}
