@model IEnumerable<Final_ASP_04_back.Models.ViewModels.RoomManageVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="row searchBlock">
                    <div class="form-floating mb-3 col-lg-2">                        
                        <select class="form-select" name="branchId" id="branchId" placeholder="" readonly aria-label="Floating label select example">
                        </select>
                        <label for="branchId">分館名稱</label>
                    </div>
                    <div class="form-floating mb-3 col-lg-2">                        
                        <input type="text" name="roomTypeName" class="form-control">
                        <label for="roomName">房型名稱</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" class="btn btn-primary search" id="btnSearch" value="搜尋">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-lg-5 row-cols-md-2">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100 text-center roomResult" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@item.Name" data-bs-roomTypeName="@item.RoomTypeName" data-bs-guestNumberCapacity="@item.GuestNumberCapacity" data-bs-description="@item.Description" data-bs-price="@item.Price" data-bs-status="@item.IsBooked">
                    <div class="card-body">
                        <h5 class="card-title fw-bolder">@item.Name</h5>
                        <p class="card-text">房型：@item.RoomTypeName</p>
                        <p class="card-text">可容納人數：@item.GuestNumberCapacity</p>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">房號：@item.Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="recipient-roomTypeName" class="form-label">房型</label>
                                <input type="text" class="form-control" id="recipient-roomTypeName" placeholder="Example input placeholder" value="@item.RoomTypeName">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-guestNumberCapacity" class="form-label">可容納人數</label>
                                <input type="text" class="form-control" id="recipient-guestNumberCapacity" placeholder="Example input placeholder">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-Description" class="form-label">房間細部規格</label>
                                <input type="text" class="form-control" id="recipient-Description" placeholder="Another input placeholder">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-Price" class="form-label">房間定價</label>
                                <input type="text" class="form-control" id="recipient-Price" placeholder="Another input placeholder">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-Status" class="form-label">房間狀態</label>
                                <input type="text" class="form-control" id="recipient-Status" placeholder="Another input placeholder">                               
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        </div>
                    </div>
                </div>
            </div>            
        }
    </div>
</div>

    @section css {
    <style>
        .row.searchBlock {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .btn.search {
            margin-top: 8px;
            width: 120px;
        }
        .roomResult:hover{
            cursor: pointer;
            background-color:gainsboro;
        }
        .roomResult.bg-danger:hover {
            cursor: pointer;
            background-color: lightcoral !important;
        }
    </style>
    }

    @section js {
        <script>
            $(function () {
                initForm();
            })

            function initForm(branchId) {
                var url = "/api/RoomsManageApi/GetBranches";

                fetchJSON(url).then(function (jsonData) {
                    renderSelect(jsonData, "branchId");
                })
            };

            function fetchJSON(url) {
                return fetch(url, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    return response.json();
                })
            };

            function renderSelect(jsonData, elementId) {
                let targetSelect = document.getElementById(elementId);
                let dataSource = jsonData.unshift({ id: 0, name: "請選擇分館" });

                let options = jsonData.map(function (item) {
                    return `<option value="${item.id}">${item.name}</option>`;
                });

                targetSelect.innerHTML = options.join("");
            };
        </script>
        <script>
            var exampleModal = document.getElementById('exampleModal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = button.getAttribute('data-bs-whatever')
                var roomTypeName = button.getAttribute('data-bs-roomTypeName')
                var guestNumberCapacity = button.getAttribute('data-bs-guestNumberCapacity')
                var description = button.getAttribute('data-bs-description')
                var price = button.getAttribute('data-bs-price')
                var status = button.getAttribute('data-bs-status')

                var modalTitle = exampleModal.querySelector('.modal-title')
                var modalBodyRoomTypeName = exampleModal.querySelector('#recipient-roomTypeName')
                var modalBodyGuestNumberCapacity = exampleModal.querySelector('#recipient-guestNumberCapacity')
                var modalBodyDescription = exampleModal.querySelector('#recipient-Description')
                var modalBodyPrice = exampleModal.querySelector('#recipient-Price')
                var modalBodyStatus = exampleModal.querySelector('#recipient-Status')

                modalTitle.textContent = recipient + "號房"
                modalBodyRoomTypeName.value = roomTypeName
                modalBodyGuestNumberCapacity.value = guestNumberCapacity
                modalBodyDescription.value = description
                modalBodyPrice.value = price

                if (status == "True")
                {
                    modalBodyStatus.value = "已預訂"
                }
                else
                {
                    modalBodyStatus.value = "空房"
                }

            })
        </script>
        <script>
            $(function () {
                var cardElements = document.querySelectorAll('.roomResult');

                cardElements.forEach(function (card) {

                    var status = card.getAttribute('data-bs-status');

                    if (status === "True") {
                        card.classList.add('bg-danger', 'bg-opacity-25');
                    }
                });
            })
        </script>
    }
