@model Final_ASP_04.Models.ViewModels.CheckoutVM

@{
    ViewBag.Title = "確認訂單資料";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row text-center">
            <h1>@Html.Raw(Model.BranchName)</h1>
            <div class="row justify-content-center text-center mt-3 ">
                <div class="col-md-4">
                    <div class="alert alert-success rounded-pill mr-2" role="alert">
                        1.確認訂單資料
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-secondary rounded-pill mr-2" role="alert">
                        2.選擇付款方式
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-secondary rounded-pill mr-2" role="alert">
                        3.完成訂單
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-reverse">
            <div class="col-md-5 mt-3">
                <form action="">
                    <div class="roominfo">
                        <div style="background-color: white; border-radius: 20px; text-align: center;">
                            <h4><strong>訂房資訊</strong></h4>
                        </div>
                        <div>
                            入住日期：@Html.Raw(Model.StartDateTime.ToString("yyyy-MM-dd"))
                            <br>
                            退房日期：@Html.Raw(Model.EndDateTime.ToString("yyyy-MM-dd"))
                            <br>
                            入住天數：@Math.Floor((Model.EndDateTime - Model.StartDateTime).TotalDays) 晚

                            <br>
                            分店：@Html.Raw(Model.BranchName)
                            <br>
                            房型：@Html.Raw(Model.RoomName)

                            <br><br><br>
                            <strong style="font-size: 1.5em;">合計金額：NT$@Html.Raw(Model.Price)</strong>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-7 mt-3">
                <form action="">
                    <div class="guestinfo">
                        <div style="background-color: white; border-radius: 20px; text-align: center;">
                            <h4><strong>顧客資訊</strong></h4>
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color : #D0D0D0" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.CellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color : #D0D0D0" } })
                            @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color : #D0D0D0" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="row mt-1">
                            <div class="form-check ms-3">
                                <!--ms-3讓checkbox 右移,與上下欄位對齊-->
                                <input class="form-check-input" type="checkbox" value="1" id="edm" name="edm">
                                <label class="form-check-label" for="edm">
                                    我同意預約完成後, 表示已經同意「住宿趣」的使用條款, 隱私權條款以及GDPR政策。
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-3">
                <a href="/Checkout/CheckoutStepTwo?cartId=@ViewBag.CartId">
                    <input type="button" class="btn btn-primary" style="width:100%" name="" id="confirmedbtn" value="確定提交，繼續選擇付款方式">
                </a>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let edmcheckbox = document.getElementById("edm");
            let confirmedbtn = document.getElementById("confirmedbtn");
            confirmedbtn.addEventListener("click", function (event) {
                if (!edmcheckbox.checked) {
                    swal({
                        title: "請勾選同意條款才能至下一步!",
                        icon: "warning",
                    });
                    event.preventDefault();
                    return;
                }
            })
        })
    </script>
}

@section css{
    <style>
        .row-reverse {
            flex-direction: row-reverse;
        }

        .roominfo {
            padding: 10px;
            background-color: #f7efcc;
            /*border: 1px solid black;*/
            font-size: 20px;
            border-radius: 20px;
        }

        .guestinfo {
            padding: 10px;
            background-color: #f7efcc;
            border-radius: 20px;
        }
    </style>
}
