@{
    ViewBag.Title = "首頁";
}

<h2 style="text-align:center;">主選頁</h2>

<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            @Html.ActionLink("房間管理系統", "Index", "RoomsManage", null, new { @class = "Homebtn" })
        </div>
        <div class="col-12 mb-3">
            @Html.ActionLink("維護訂單", "Index", "Orders", null, new { @class = "Homebtn" })
        </div>
        <div class="col-12 mb-3">
            @Html.ActionLink("維護FAQs", "Index", "FAQs", null, new { @class = "Homebtn" })
        </div>
        <div class="col-12 mb-3">
            @Html.ActionLink("維護會員", "Index", "Members", null, new { @class = "Homebtn" })
        </div>
        <div class="col-12 mb-3">
            @Html.ActionLink("維護房型", "Index", "RoomTypes", null, new { @class = "Homebtn" })
        </div>
        <div class="col-12 mb-3">
            @Html.ActionLink("會員來信", "Index", "Mails", null, new { @class = "Homebtn" })
        </div>
        <div class="col-12 mb-3">
            @Html.ActionLink("維護最新消息", "Index", "News", null, new { @class = "Homebtn" })
        </div>
    </div>
</div>

@section css{
    <style>
        .Homebtn {
            text-align: center;
            width: 100%;
            display: inline-block;
            font-size: 16px;
            padding: 15px;
            background-color: rgb(167, 192, 199);
            color: #ffffff;
            border: none;
            text-decoration: none;
            border-radius: 10px
        }
    </style>
}