@{ 
    var branchId = ViewBag.BranchId;
    var roomTypeId = ViewBag.RoomTypeId;
    var guestNumberId = ViewBag.GuestNumberId;
    var startDateTime = ViewBag.StartDateTime;
    var endDateTime = ViewBag.EndDateTime;
}
<div class="card mb-3 resultCard">
    <form method="post" action="CreateCart">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="~/Files/@Model.RoomTypeFileName" class="img-fluid rounded-start resultImg" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">
                        @Model.RoomTypeName
                        <small>@Model.GuestNumberName</small>
                    </h5>
                    <p class="card-text">@Model.RoomDescription</p>
                    <p class="card-text">@Model.RoomTypeDescription</p>
                    <p class="card-text">NT$<input type="text" class="no-border" name="Price" value="@Model.Price" readonly /></p>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="startDateTime" value="@startDateTime" />
                    <input type="hidden" name="endDateTime" value="@endDateTime" />
                    <p class="card-text"><input type="submit" class="btn btn-primary" value="預約" /></p>
                    @*<p class="card-text">@Html.ActionLink("預約", "CreateCart", new { branchId= branchId, roomTypeId= roomTypeId, guestNumberId= guestNumberId, startDateTime= startDateTime, endDateTime= endDateTime }, new {@class="btn btn-primary"})</p>*@
                </div>
            </div>
        </div>
    </form>
</div>
