@model IPagedList<RoomVm>
@using PagedList;
@using PagedList.Mvc
@using Final_ASP_04.Models.ViewModels;

@{
    ViewBag.Title = "預訂房間";
    var totalResult = ViewBag.TotalCount;
    var branchId = ViewBag.BranchId;
    var roomTypeId = ViewBag.RoomTypeId;
    var guestNumberId = ViewBag.GuestNumberId;
    var startDateTime = ViewBag.StartDateTime;
    var endDateTime = ViewBag.EndDateTime;
    var sortvalue = ViewBag.SortValue;
    var rooms = ViewBag.RoomsVm as IPagedList<RoomVm>;
}

<!-- 標題 -->
<div class="container-fluid" style="margin-top:80px;">
    <h1 class="title">@ViewBag.BranchName</h1>
</div>
<!-- 搜尋列 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="row searchBlock">
                    <div class="col-lg-2">
                        <div class="form-floating mb-3">
                            <input class="form-control" name="startDateTime" type="date" id="startDateTime" placeholder="" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <label for="startDateTime">入住日期</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-floating mb-3">
                            <input class="form-control" name="endDateTime" type="date" id="endDateTime" placeholder="" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                            <label for="endDateTime">退房日期</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" name="roomTypeId" id="roomTypeId" placeholder="" readonly aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelect1">房型</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" name="guestNumberId" id="guestNumberId" placeholder="" readonly aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelect2">人數</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="hidden" name="branchId" value="@branchId" />
                        <input type="submit" class="btn btn-primary search" id="btnSearch" value="搜尋">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 搜尋結果 -->
    <div class="row mt-3">
        <div class="col-8">
            <h5>搜尋結果：<span id="resultNumber">@totalResult</span>件</h5>
        </div>
        <div class="col-4">
            <select class="form-select orderResult" aria-label="Default select example">
                <option selected>排序方式</option>
                <option value="/Rooms/SearchRoom?page=1&branchId=@branchId&roomTypeId=@roomTypeId&guestNumberId=@guestNumberId&startDateTime=@startDateTime&endDateTime=@endDateTime&sortvalue=1" id="orderbyPrice">按價格排序(從低至高)</option>
                <option value="/Rooms/SearchRoom?page=1&branchId=@branchId&roomTypeId=@roomTypeId&guestNumberId=@guestNumberId&startDateTime=@startDateTime&endDateTime=@endDateTime&sortvalue=2" id="orderbyPriceDESC">按價格排序(從高至低)</option>
                <option value="/Rooms/SearchRoom?page=1&branchId=@branchId&roomTypeId=@roomTypeId&guestNumberId=@guestNumberId&startDateTime=@startDateTime&endDateTime=@endDateTime&sortvalue=3" id="orderbyRank">按推薦排序</option>
            </select>
        </div>
    </div>
    <div class="row allSearchResult">
        @Html.Partial("_RoomSearchResultPartial", rooms)
    </div>
</div>
@section css {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <style>
        .row.searchBlock {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .result {
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        .btn.search {
            margin-top: 8px;
            width: 120px;
        }

        @@media (max-width: 991px) {
            .btn.search {
                float: right;
            }
        }

        .resultImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .resultCard {
            box-shadow: 0 0 10px #a8a7a7;
            margin-bottom: 1.5rem !important;
        }
        .no-border{
            border: none;
            outline: none;
            width: 110px;
        }
    </style>
}

@section js {
    @*<script src="/Scripts/bootstrap.bundle.js"></script>*@
    <script src="/js/Rooms_Search.js"></script>
    <script>
        $(function () {
            initForm(@ViewBag.BranchId);

            var startDateTimeInput = document.getElementById("startDateTime");
            var endDateTimeInput = document.getElementById("endDateTime");

            startDateTimeInput.addEventListener("change", function () {

                var selectedDate = new Date(startDateTimeInput.value);

                var nextDay = new Date(selectedDate);
                nextDay.setDate(selectedDate.getDate() + 1);

                endDateTimeInput.min = nextDay.toISOString().split("T")[0];
                endDateTimeInput.value = nextDay.toISOString().split("T")[0];
            });

        $(".orderResult").on("change", function () {
            var url = $(this).find('option:selected').val();
            window.location.href = url;

        })
});
    </script>
}
